.searchBar {
    background: linear-gradient(to bottom, #FF7700 60%, #d36200 100%);
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.searchBar[aria-hidden=false] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.searchBar input {
    background: #d36200;
    letter-spacing: 3px;
}